<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>💈 Dashboard Barbería</h1>

<h2>Total reservas: {{ total }}</h2>
<h2>Ingresos: S/ {{ ingresos }}</h2>

<div class="grid">
    {% for r in reservas %}

    <div class="card">
        <h3>✂️ {{ r.servicio }}</h3>

        <p>📅 Fecha: {{ r.fecha }}</p>
        <p>⏰ Hora: {{ r.hora }}</p>
        <p>💰 Precio: S/ {{ r.precio }}</p>
        <a href="/borrar/{{ loop.index0 }}">
        <button>🗑 Borrar</button>
    </a>
    </div>

    {% endfor %}
</div>
    
</body>
</html>


